/* @media 1080 - @media 1080 - @media 1080 - @media 1080 - @media 1080 - @media 1080 - @media 1080 - @media 1080 - */
@media(max-width:1080px){
	/* html{
		font-size: 90%;
	} */

    .header,
    .sub-header,
    .containers-images {
        height: 9rem;
    }

    .sub-header {
        width: 85%;
    }

    .header img {
        height: 6rem;
        width: 9rem;   
    }

    .header_title h1 {
        font-size: 2rem;
    }
    
    .header_title h2 {
        font-size: 1.3rem;
        padding: 0.2rem;
    }

    /* container - container - container - container - container - container - container - container - container - container */
    .attendance_control{
        width: 85%;
    }

    .container-title {
        height: 4.5rem;
        width: 100%;
    }

    .container-title h2 {
        font-size: 1.9rem;
        padding: 0.4rem 0.4rem 0 0.4rem;
    }

    .container-date-time {
        /* dsfsd */
    }

    .place_of_care,
    .date_and_time {
        flex-direction: column;
    }

    .place_of_care {
        background-color: var(--place_of_care-color);
    }

    .place_of_care label,
    .date_and_time label {
        font-size: 1.2rem;
        padding: 0.4rem 0 0.4rem;
    }

    .place_of_care input,
    .date_and_time input,
    .place_of_care_input {
        width: 20rem;
        height: 2rem;
        border-radius: 9px;        
        font-size: 1.2rem;
        padding-right: 1.2rem;
        margin-left: 6rem;
    }

    .reported_defect label,
    .performed_services label {
        font-size: 1.2rem;
        padding: 0.4rem 0 0.4rem;
    }

    .reported_defect textarea,
    .performed_services textarea {
        width: 85.3%;
        border-radius: 9px;
        font-size: 1.2rem;
        margin-left: 6rem;
    }

    .reported_defect textarea {
        height: 6.5rem;
    }

    .performed_services textarea {
        height: 12rem;
    }

    .technician label,
    .registration label,
    .user label {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.4rem 0 0.4rem;
    }

    .technician_input,
    .registration_input {
        width: 13rem;
        height: 2.3rem;
        border-radius: 9px;
        font-size: 1.2rem;
    }

    .user label {
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem 0.4rem;
    }

    #user_name,
    #user_registration {
        margin-left: 3rem;
        width: 18rem;
        height: 2.5rem;
        border-radius: 9px;
    }

    #button-to-view {
        border-radius: 9px;
        width: 9rem;
        height: 2.5rem;
        margin: 1.4rem 0rem 0rem 11rem;
        font-size: 1.4rem;
    }


    
}

@media(max-width:300px){
	html{
		font-size: 45%;
	}

    .header,
    .sub-header,
    .containers-images {
        height: 9rem;
    }

    .sub-header {
        width: 95%;
    }

    .header img {
        height: 50%;
        width: 80%;   
    }

    .header_title h1 {
        font-size: 2rem;
    }
    
    .header_title h2 {
        font-size: 1.3rem;
        padding: 0.2rem;
    }

    /* container - container - container - container - container - container - container - container - container - container */
    .attendance_control {
        background-color: var(--attendance_control_color);
        order: 2;
        width: 95%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-title {
        height: 4.5rem;
        width: 100%;
    }

    .container-title {
        height: 4rem;
        width: 100%;
    }

    .container-title h2 {
        font-size: 2rem;
        padding: 0.4rem 0.4rem 0 0.4rem;
    }

    .container-date-time {
        flex-direction: column;
        height: 8rem;
    }

    .place_of_care,
    .date_and_time {
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .place_of_care {
        background-color: var(--place_of_care-color);
    }

    .place_of_care label,
    .date_and_time label {
        width: 100%;
        font-size: 1.3rem;
        padding: 0.5rem 0 0.5rem;
        margin-left: 2.5rem;
    }

    .place_of_care input,
    .date_and_time input {
        width: 20rem;
        height: 2.2rem;
        border-radius: 4px;
        
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;

        padding-right: 1.5rem;
        margin-left: 0;
        margin-right: 3rem;

    }

    .reported_defect label,
    .performed_services label {
        font-size: 1.3rem;
        padding: 0.5rem 0 0.5rem;
        margin-left: 2.5rem;
    }

    .reported_defect textarea,
    .performed_services textarea {
        width: 85.3%;
        border-radius: 5px;
        font-size: 1.2rem;
        margin-left: 3rem;
    }

    .technician {
        order: 1;
        justify-content: center;
        align-items: center;
    }
    
    .registration {
        order: 2;
        justify-content: center;
        align-items: center;
    }
    
    .user {
        order: 3;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .technician label,
    .registration label {
        font-size: 1.3rem;
        padding: 0.5rem 0 0.5rem;
    }

    .technician_input,
    .registration_input {
        width: 13rem;
        height: 2.3rem;
        border-radius: 9px;
        font-size: 1.2rem;
        border-radius: 5px;
        margin-left: 0;
    }

    .user label {
        font-size: 1.3rem;
        padding: 0.5rem 0.5rem 0.5rem;
        margin-top: 1rem;
        margin-left: 2.5rem;
    }

    /* parei -  parei -  parei -  parei -  parei -  parei -  */
    #user_name,
    #user_registration {
        /* margin-left: 0rem; */
        margin-top: 1rem;
        margin-right: 1rem;
        width: 18rem;
        height: 2.5rem;
        border-radius: 5px;
    }

    #button-to-view {
        border-radius: 9px;
        width: 9rem;
        height: 2.5rem;
        margin: 1.4rem 0rem 0rem 11rem;
        font-size: 1.4rem;
    }
    
}

/*
@media(max-width:720px){
	html{
		font-size: 80%;
	}

    .header {
        height: 8rem;
        width: 100%;
    }

    .sub-header{
        height: 8rem;
    }

    .containers-images {
        height: 8rem;
    }

    .header img {
        height: 4rem;
        width: 7rem;   
    }

    .header_title h1 {
        font-size: 1.5rem;
    }
    
    .header_title h2 {
        font-size: 0.8rem;
        padding: 0.1rem;
    }
}

@media(max-width:500px){
	html{
		font-size: 70%;
	}

    .header {
        height: 7rem;
        width: 100%;
    }

    .sub-header{
        height: 7rem;
    }

    .containers-images {
        height: 7rem;
    }

    .header img {
        height: 3rem;
        width: 6rem;   
    }

    .header_title h1 {
        font-size: 1rem;
    }
    .header_title h2 {
        font-size: 0.5rem;
        padding: 0.1rem;
    }
}

@media(max-width:300px){
	html{
		font-size: 60%;
	}

    .header {
        height: 6rem;
        width: 100%;
    }

    .sub-header{
        height: 6rem;
    }

    .sub-header{
        height: 6rem;
    }

    .header img {
        height: 2rem;
        width: 5rem;   
    }

    .header_title h1 {
        font-size: 0.5rem;
    }
    .header_title h2 {
        font-size: 0.25rem;
        padding: 0.1rem;
    }

}*/