:root{
    --black-color: black;
    --white-color: white;
    --hover-color: lightgray;
    --container-color: whitesmoke;
    --blue-buttons-hover: rgb(0, 132, 255);
}

@media(max-width:1080px){
	html{
		font-size: 90%;
	}
}

@media(max-width:720px){
	html{
		font-size: 75%;
	}
}

@media(max-width:600px){
	html{
		font-size: 60%;
	}
}

@media(max-width:300px){
	html{
		font-size: 40%;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.container {
    width: 67.5rem;
    border: 2px solid var(--black-color);
    margin: 4rem auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

/* header - header - header - header - header - header - header - header - header - header - header - header - header */

.header {
    background-color: var(--hover-color);
    height: 10rem;
    width: 67.25rem;
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
    position: relative;
}

.containers-images {
    display: flex;
}

.header img {
    position: absolute;
    top: 0;
    height: 10rem;
    width: 15rem;   
}

#bandeira-pernambuco {
    border: 1px solid var(--black-color);
    right: -1px;
}

.header_title {
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem;
}

.header_title h1 {
    font-size: 2rem;
    padding: 0.6rem;
}

.header_title h2 {
    font-size: 1.5rem;
    padding: 0.3rem;
}

/* main main main main main main main main main main  */
main{
    order: 2;
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}


.section-sub-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-sub-title h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--black-color);
    padding: 1rem 0.5rem 0 0.5rem;
    margin-bottom: 1.5rem;
}

/* form form form form form form form form form form  */
form{
    width: 95%;
}


/* section-date-and-time section-date-and-time  */
/* section-police-unit section-police-unit */
.section-police-unit,
.section-date-and-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

.section-date-and-time label,
.section-police-unit label{
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.section-police-unit label{
    width: 20%;
}

.section-date-and-time input {
    width: 15rem;
    border: 0.063rem solid var(--black-color);
    border-radius: 0.63rem;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.5rem 0.3rem;
}

.section-police-unit input{
    width: 90%;

    border: 0.063rem solid var(--black-color);
    border-radius: 0.63rem;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.5rem 0.3rem;
    background-color: var(--white-color);
}


/* container_services container_services container_services container_services container_services container_services */
.container_services {
    /* order: 2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; */
}

.reported_defect,
.performed_services {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.reported_defect label,
.performed_services label {
    width: 25%;
    padding: 0.5rem;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
}


.reported_defect textarea,
.performed_services textarea {
    display: flex;
    width: 74.3%;
    height: 7rem;
    border-radius: 0.625rem;
    border: 0.063rem solid var(--black-color);

    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-left: -2rem;
}

/* section technician section technician section technician section technician section technician  */
.section-technician{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 7rem;
    width: 100%;
    margin-top: 1.5rem;
}

.section-technician label{
    font-weight: bold;
    font-size: 1.3rem;
    position: absolute;
    top: -1.5rem;
}

.div-technician-name{
    position: relative;
    width: 100%;
}

.names-inputs, .registrations-inputs{
    width: 30rem;
    height: 2.5rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    margin: 0.5rem 0 0.5rem 2.5rem;

    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.registrations-inputs{
    width: 15rem;
}

.div-registration{
    position: relative;
    width: 100%;
}

.div-add-button{
    width: 100%;
    text-align: center;
}

/* section show-technician section show-technician section show-technician  */
.show-technician{
    width: 100%;
    padding: 1rem;
    margin-left: 3rem;
}

.list_of_technicians,
.list-technical-and-registration,
.list-technical-and-registration span{
    font-size: 1.5rem;
}

.list-technical-and-registration span{
    font-weight: bold;
}

.list-technical-and-registration i{
    margin-left: 0.938rem;
    font-size: 1.7rem;
}

.list-technical-and-registration i:hover{
    color: red;
    font-size: 2rem;
}


/* container_technician_and_user container_technician_and_user container_technician_and_user container_technician_and_user */
.container_technician_and_user {
    /* display: flex;
    order:3;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
}

.sub_title_technician_and_registration {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: center;
    margin-top: 0.5rem;
}

.sub_title_technician_and_registration label {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

.technician {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_input{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.technician_input,
.registration_input {
    width: 30rem;
    height: 2.5rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    margin: 0.5rem 0 0.5rem 2.5rem;

    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.technician_input{
    margin-left: 6.5rem;
}

.registration_input{
    width: 15rem;
}

.user {
    margin-top: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.box_user_name,
.box_user_registragion {
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
}

.user label {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

.box_user_name input,
.box_user_registragion input{
    width: 30rem;
    height: 2.5rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    margin: 0.5rem 0 0.5rem 2.5rem;

    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.box_user_registragion input{
    width: 15rem;
}


.section-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
}

.button {
    border: 1px solid var(--black-color);
    border-radius: 10px;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--hover-color);
    cursor: pointer;
}

/* footer - footer -  footer -  footer -  footer -  footer  footer -  footer -  footer -  footer -  footer - */

.footer {
    background-color: var(--hover-color);
    order: 3;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    border-top: 1px solid var(--black-color);
    margin-top: 1rem;
}

.footer_title {
    flex: 1;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.links_social_media {
    flex: 1.2;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;

}

.links_social_media a {
    display: flex;
    width: 4rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    margin-left:1rem;
    color: var(--black-color);
    border-radius: 10px;
    border: 1px solid var(--black-color);
}

.fa-brands, .fa-solid {
	font-size: 1.5rem;
}

/* hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover*/
.section-date-and-time input:hover,
.section-police-unit input:hover,
.reported_defect textarea:hover,
.performed_services textarea:hover,
.place_of_care select:hover,
.date_and_time input:hover,
.names-inputs:hover,
.registrations-inputs:hover,
.technician_input:hover,
.registration_input:hover,
#user_name:hover,
#user_registration:hover {
    background-color: var(--hover-color);
}

.links_social_media a:hover,
.button:hover {
    background-color: var(--blue-buttons-hover);
}