@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@media(max-width:1080px){
	html{
		font-size: 93.75%;
	}
}

@media(max-width:720px){
	html{
		font-size: 87.5%;
	}
}

@media(max-width:500px){
	html{
		font-size: 82.5%;
	}
}

@media(max-width:300px){
	html{
		font-size: 75.5%;
	}
}

:root {
    --blue: rgb(71, 148, 236 );
    --dark-blue: rgb(0, 75, 161);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --background-model: rgba(0,0,0,0.8);
    --background-box-model:rgb(68, 103, 246);
    --modal-button: rgb(242, 129, 129);
    --modal-button-hover: rgb(0, 128, 0);
  }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	color:--black-color;
}

body {
    background-color: var(--blue);
  }

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    width: 100vw;
}

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.header {
	background-color: var(--dark-blue);
    color: var(--white);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	order: 1;
	flex: 0.5;
}

.header h1 {		
	font-size: 3rem;
	width: auto;
	padding: 1.5rem;
}

/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
.main {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	order: 2;
	flex: 4;
	/* border-bottom: 2px solid var(--black); */
	/* background: var(--grey-C); */
}


.main .button-links {
    text-decoration: none;
    width: 20rem;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 0;
    border-radius: 5px;
  
    background-color: var(--dark-blue);
    color: var(--white);
  
    font-size: 2rem;
    font-weight: 600;
  
    transition: background-color 0.5s;
    cursor: pointer;
  }
  
  .main .button-links:hover {
    background-color: var(--modal-button-hover)
  }


/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.box-footer {
	background-color: var(--dark-blue);
	display: flex;
	flex-direction: row;
	order: 3;
	flex: 0.3;
	flex-flow: wrap;
}

.box-footer .footer-title {
    font-size: 1.2rem;
    color: var(--white);
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    padding: 1rem;
}

.box-footer .links-social-media {
	list-style: none;
	flex: 1.5;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem;
    flex-flow: wrap;
}

.box-footer .links-social-media a {
    font-size: 1.25rem;
    font-weight: 600;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	padding: 0.5rem;
    background-color: var(--blue);
	border-radius: 5px;
	margin-left:0.5rem;
	width: 7rem;
}

.box-footer .links-social-media a:hover {
	background-color: var(--modal-button-hover);
}

/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
.modal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    background-color: var(--background-model);
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.closeModal {
    display: none;
}
  
.modal .box-modal {
    width: 31.25rem;
    position: relative;
    margin: 10% auto;
    padding: 1rem 1.25rem;
    background-color: var(--background-box-model);
    border-radius: 5px;
}
  
.modal .box-modal .header-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 0.5rem;
  }

.modal .box-modal .header-modal h2 {
    font-size: 1.5rem;
}

.modal .box-modal .text_modal {
    padding: 0.5rem;
}

.modal .box-modal .text_modal p {
    font-size: 1.5rem;
}
  
.modal .box-modal .header-modal .botton_close_modal {
    text-decoration: none;
    border: none;
    width: 5rem;
    padding: 0.5rem;
    background-color: var(--modal-button);
    color: var(black);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
}

.modal .box-modal .header-modal .botton_close_modal:hover {
    background-color: var(--modal-button-hover);
}