@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --blue: rgb(71, 148, 236 );
    --dark-blue: rgb(0, 75, 161);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --background-model: rgba(0,0,0,0.8);
    --background-box-model:rgb(68, 103, 246);
    --modal-button: rgb(242, 129, 129);
    --modal-button-hover: rgb(0, 128, 0);
}

body{
    background: rgb(129, 101, 255);
    font: normal 18px verdana;
    text-align: center;
}
header{
    color:whitesmoke;
    text-align: center;
    font-size: 25px;
}
section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}
footer{
    color:whitesmoke;
    text-align: center;
    font-style: italic;
    margin-top: 15px;
}
a{
    color:black;
}

/*MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL */
.modal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    background-color: var(--background-model);
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
  }
  
  .modal:target {
    opacity: 1;
  }

  .closeModal {
    display: none;
  }
  
.modal .box-modal {
    width: 31.25rem;
    position: relative;
    margin: 10% auto;
    padding: 1rem 1.25rem;
    background-color: var(--background-box-model);
    border-radius: 5px;
}
  
.modal .box-modal .header-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 0.5rem;
  }

.modal .box-modal .header-modal h2 {
    font-size: 1.5rem;
}

.modal .box-modal .text_modal {
    padding: 0.5rem;
}

.modal .box-modal .text_modal p {
    font-size: 1.5rem;
}
  
.modal .box-modal .header-modal .botton_close_modal {
    text-decoration: none;
    border: none;
    width: 5rem;
    padding: 0.5rem;
    background-color: var(--modal-button);
    color: var(black);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
}

.modal .box-modal .header-modal .botton_close_modal:hover {
    background-color: var(--modal-button-hover);
}