* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --black: #000000;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.largura_da_pagina {
    max-width: 650px;
}

.display_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid var(--black);
}

.cabecalho h1 {
    font-size: 48px;
    font-weight: bold;
}

.principal {
    border: 2px solid var(--black);
    margin: 48px;
    flex-direction: column;
}

.secao_data_atual {
    width: 100%;
    height: 80px;
    gap: 10px;
    border-bottom: 2px solid var(--black);
    padding: 16px;
}

.secao_data_atual h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.secao_data_atual p {
    font-size: 20px;
    text-transform: uppercase;
}

.secao_texto_data {
    padding: 24px 32px;
    text-align: justify;
}

.secao_texto_data p {
    font-weight: bold;
}

.secao_texto_data span {
    font-weight: normal;
}

.secao_figure {
    width: 100%;
}


.imagens {
    width: calc((100% / 3) - 30px);
}

.section_buttons {
    width: 100%;
    height: 80px;
    /* background-color: plum; */
}

#botao_imprimir {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px 16px;
    background-color: gray;
    cursor: pointer;
}

#botao_imprimir:hover {
    color: black;
    background-color: whitesmoke;
}

.rodape {
    width: 100%;
    height: 80px;
    border-top: 2px solid var(--black);
}

.rodape p {
    font-size: 20px;
}

.rodape a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
}

.rodape a:hover {
    padding: 8px;
    border: 1px solid var(--black);
    border-radius: 3px;
}

@media print {
    .cabecalho, .rodape, .section_buttons {
        display: none;
    }
}