* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --laranja:#D17E2A;
    --azul:#0A293A;
    --cinza_claro:#D0C8BC;
    --cinza:#6A7777;
    --branco:#fff;
    --preto:#000;
    --preto_opacidade50:rgb(0 0 0 / .5);
}


body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
}

.display-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.largura-da-pagina {
    max-width: 1080px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 20%;
    background-color: var(--azul);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--branco);
}

main {
    background-color: var(--cinza_claro);
    width: 100%;
    min-height: 70%;
    flex-direction: column;
    gap: 40px;
    padding: 32px 0;
}

#section-carregar-arquivo, #section-criar-arquivo {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    min-height: 100px;
    width: 100%;
}

.sub-titulo {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 32px;
}

.buttons {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--branco);
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px var(--preto);
}

.buttons:hover {
    background-color: var(--laranja);
    color: var(--branco);
}

footer {
    width: 100%;
    height: 10%;
    background-color: var(--azul);
    color: var(--branco);
}
