* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --laranja:#D17E2A;
    --azul:#0A293A;
    --cinza_claro:#D0C8BC;
    --cinza:#6A7777;
    --branco:#fff;
    --preto:#000;
    --preto_opacidade50:rgb(0 0 0 / .5);
  }


body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
}

.displayFlexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 150px;
    background-color: var(--azul);
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--branco);
}


main {
    background-color: var(--cinza_claro);
    width: 100%;
    height: 78%;
    flex-direction: column;
    gap: 40px;
}

#secaoInput {
    width: 100%;
    height: 30%;
    flex-direction: column;
    gap: 30px;
    /* background-color: rosybrown; */
}

#nome_do_sistema {
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--preto);
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--branco);
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px var(--preto);
}

.button:hover {
    background-color: rgba(25, 25, 205, 0.736);
    background-color: var(--laranja);
    color: var(--branco);
}

#secaoResultado {
    width: 100%;
    height: 45%;
    flex-direction: column;
    gap: 20px;
}

#secaoResultado div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#secaoResultado h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    font-size: 35px;
}

#secaoResultado p {
    font-size: 24px;
    font-weight: bold;
}


#linkSistema {
    text-decoration: none;
    color: var(--preto);
}

#linkSistema:hover {
    color: var(--branco);
}

footer {
    width: 100%;
    height: 68px;
    background-color: var(--azul);
    color: var(--branco);
}

dialog::backdrop {
    background-color: var(--preto_opacidade50);
}

dialog{
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em var(--preto_opacidade50);
    width: 80%;
    padding: 24px;
    position: relative;
    top: 35%;
    left: 10%;
}

dialog h2 {
    text-align: center;
    padding: 16px;
}

dialog div {
    text-align: center;
}

