* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root {
    --white-color: #dbdbdb;
    --red: #FF1301;
    --blue: rgb(0, 95, 152);
    --yellow: #FFCB02;
    --green: #049934;
    --black: #000000;
    --white: #ffffff;
    --gray: #bdbdbd;
    --card-color: #005F98;
    --card-background-color: rgb(245, 245, 245);
}

html, body {
    width: 100%;
    height: 100%;
}

.largura_da_pagina {
    width: 1280px;
    /* border: 1px solid greenyellow; */
}

main {
    background-color: #FF1301;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--blue);
    color: var(--white);
    height: 162px;

    display: flex;
    justify-content: center;

}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure {
    background-color: peru;
    
    width:30%;
    height: 50%;
    display: flex;
    align-items: center;
}

.titulo {
    background-color: palevioletred;
    
    font-size: 38px;
    /* width: 50%; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bandeiras {
    height: 85px;
    border: 0.5px solid var(--black);
}

#bandeira_pernambuco {
    margin-left: 16px;
}

.formulario {
    /* background-color: #049934; */
    /* padding: 16px 0; */
    margin: 42px 0;
}

.section-police-unit {
    /* background-color: palegreen; */

    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
}

.section-police-unit input { 
    /* background-color: plum; */
    width: 85%;

    border: 0.063rem solid var(--black);
    border-radius: 3px;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.5rem 0.3rem;
}

.section-police-unit input::placeholder {
    color: var(--black);
}

.buttons, .botao_copiar {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    border: 1px solid var(--black);
    border-radius: 3px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.buttons:hover, .botao_copiar:hover {
    background-color: var(--white);
    color: var(--blue);
}


/* SEÇÃO RESULTADO SEÇÃO RESULTADO SEÇÃO RESULTADO SEÇÃO RESULTADO SEÇÃO RESULTADO  */
.secao_resultado {
    background-color: palevioletred;
    padding: 42px 0 42px 0;
    margin-bottom: 42px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--black);
}

.secao_resultado h2 {
    /* background-color: palegreen; */
    width: 100%;
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.boxs_resultado {
    /* background-color: peru; */
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    margin-top: 16px;
}

.boxs_resultado p {
    font-size: 24px;
    font-weight: bold;
}

.boxs_resultado span {
    font-size: 20px;
    font-weight: normal;
}

.box_secao_telefone {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /* padding: 8px 0; */
}

.box_telefone {
    /* border: none; */
}


.lista_numeros_de_telefones {
    /* background-color: powderblue; */
    width: 100%;
    margin-top: 16px;
    border-bottom: 1px solid var(--black);
}

.lista_numeros_de_telefones li {
    /* background-color: #049934; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.lista_numeros_de_telefones li span {
    font-size: 20px;
}

.box_iframe {
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid var(--black);
    /* background-color: purple; */
}

.box_botao_copiar_tudo {
    background-color: #FFCB02;
    justify-content: center;
    width: 100%;
}


/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.rodape {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
    background-color:var(--blue);
    /* padding: 16px 0; */
    /* background-color: palegreen; */
}

.boxTextoRodape {
    /* background-color: purple; */
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 50%;
    padding: 16px 0;
    background-color: var(--blue);
}

.boxTextoRodape span {
    font-weight: bold;
}

.boxLinksSocialMedia {
    /* background-color: plum; */
    background-color: var(--blue);
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 50%;
    padding: 16px 8px;
}

.buttonsSocialMedia {
    display: flex;
    width: 80px;
    height: 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    margin-left: 16px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 5px;
    box-shadow: var(--black) 0.2rem 0.2rem 0.5rem;
}

.buttonsSocialMedia:hover {
    background-color: var(--blue);
    color: var(--white);
    /* border: 1px solid var(--white); */
}


/* media  media  media  media  media  media  media  media  media  media  media */
@media (min-width: 769px) and (max-width: 1279px){
    .largura_da_pagina {
        min-width: 769px;
        max-width: 1279px;
        padding: 0 8px;
    }

    .bandeiras {
        height: 65px;
    }

    .titulo {
        font-size: 34px;
    }

    #search-form {
        width: 100%;
    }

    .secao_resultado {
        width: 100%;
        padding: 42px 0 42px 0;
    }

    .secao_resultado h2 {
        font-size: 28px;
        padding: 8px 0 8px 0;
    }
}


@media (max-width: 991px){
    .bandeiras {
        height: 55px;
    }

    .titulo {
        font-size: 30px;
    }
    
    .boxTextoRodape {
        justify-content: center;
        align-items: flex-end;
    }

    .boxLinksSocialMedia {
        justify-content: center;
        background-color: var(--blue);
    }
}


@media (max-width: 529px){
    header div {
        flex-wrap: wrap;
    }

    figure, .titulo {
        width: 100%;
        justify-content: center;
    }

    
}

@media (min-width: 481px) and (max-width: 768px){
    .largura_da_pagina {
        min-width: 481px;
        max-width: 768px;
        padding: 0 8px;
    }

    
    .bandeiras {
        height: 45px;
    }

    .titulo {
        font-size: 26px;
        text-align: end;
        /* background-color: #FF1301; */
        /* width: 80%; */
    }

    #search-form {
        width: 100%;
    }

    .secao_resultado {
        width: 100%;
        padding: 42px 0 42px 0;
    }

    .secao_resultado h2 {
        font-size: 28px;
        padding: 8px 0 8px 0;
    }
}