* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root {
    --white-color: #dbdbdb;
    --red: #FF1301;
    --blue: rgb(0, 95, 152);
    --yellow: #FFCB02;
    --green: #049934;
    --black: #000000;
    --white: #ffffff;
    --gray: #bdbdbd;
    --card-color: #005F98;
    --card-background-color: rgb(245, 245, 245);
}

html, body {
    width: 100%;
    height: 100%;
}

.largura_da_pagina {
    width: 1280px;
    /* border: 1px solid greenyellow; */
}

main {
    /* background-color: #FF1301; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--blue);
    color: var(--white);
    height: 162px;

    display: flex;
    justify-content: center;

}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure {
    /* background-color: peru; */
    
    height: 50%;
    display: flex;
    align-items: center;
    flex: 1 1 30%;
    gap: 16px;
}

.titulo {
    /* background-color: palevioletred; */
    
    font-size: 38px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 8px;
    flex: 1 1 70%;
}

.bandeiras {
    height: 85px;
    border: 0.5px solid var(--black);
}

.formulario {
    /* background-color: #049934; */
    
    margin: 42px 0;
}

.section-police-unit {
    /* background-color: palegreen; */

    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
    gap: 16px;
}

.section-police-unit input { 
    /* background-color: plum; */
    width: 85%;

    border: 0.063rem solid var(--black);
    border-radius: 3px;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.5rem 0.3rem;
}

.section-police-unit input::placeholder {
    color: var(--black);
}

.buttons, .botao_copiar {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    border: 1px solid var(--black);
    border-radius: 3px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.buttons:hover, .botao_copiar:hover {
    background-color: var(--white);
    color: var(--blue);
}


/* SEÇÃO RESULTADO SEÇÃO RESULTADO SEÇÃO RESULTADO SEÇÃO RESULTADO SEÇÃO RESULTADO  */
.secao_resultado {
    background-color: palevioletred;
    padding: 42px 0 42px 0;
    margin-bottom: 42px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--black);
}

.secao_resultado h2 {
    /* background-color: palegreen; */
    width: 100%;
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.boxs_resultado {
    /* background-color: peru; */
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    margin-top: 16px;
}

.boxs_resultado p {
    font-size: 24px;
    font-weight: bold;
}

.boxs_resultado span {
    font-size: 20px;
    font-weight: normal;
}

.box_secao_telefone {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /* padding: 8px 0; */
}


.lista_numeros_de_telefones {
    /* background-color: powderblue; */
    width: 100%;
    margin-top: 16px;
    border-bottom: 1px solid var(--black);
}

.lista_numeros_de_telefones li {
    /* background-color: #049934; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.lista_numeros_de_telefones li span {
    font-size: 20px;
}

.box_iframe {
    width: 100%;
    height: 450px;
    padding: 32px 16px;
    border-bottom: 1px solid var(--black);
    /* background-color: purple; */
}

.box_botao_copiar_tudo {
    background-color: #FFCB02;
    justify-content: center;
    width: 100%;
}


/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.rodape {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex: 1 1 100%;
    background-color:var(--blue);
    
    /* background-color: palegreen; */
}

.boxTextoRodape {
    /* background-color: purple; */
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 50%;
    padding: 16px 0;
    background-color: var(--blue);
}

.boxTextoRodape span {
    font-weight: bold;
}

.boxLinksSocialMedia {
    /* background-color: plum; */
    background-color: var(--blue);
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 50%;
    gap: 10px;
    padding: 16px 8px;
}

.buttonsSocialMedia {
    display: flex;
    /* width: 80px; */
    height: 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 16px 32px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 5px;
    box-shadow: var(--black) 0.2rem 0.2rem 0.5rem;
}

.buttonsSocialMedia:hover {
    background-color: var(--blue);
    color: var(--white);
    /* border: 1px solid var(--white); */
}

/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
@media (min-width: 769px) and (max-width: 1279px){
    .largura_da_pagina {
        max-width: 1080px;
        padding: 0 8px;
    }

    .bandeiras {
        height: 75px;
    }

    .titulo {
        font-size: 34px;
    }

    .formulario {
        width: 100%;
        padding: 0;
    }


    #search-form {
        width: 100%;
    }

    .secao_resultado {
        width: 100%;
        padding: 42px 0;
    }

    .secao_resultado h2 {
        font-size: 28px;
        padding: 8px 0;
    }

    .box_iframe {
        padding: 32px 16px;
        height: 400px;
    }
}



/* Para telas com largura entre 481px e 768px */
/* Para telas com largura entre 481px e 768px */
/* Para telas com largura entre 481px e 768px */
/* Para telas com largura entre 481px e 768px */
@media (min-width: 481px) and (max-width: 768px){
    .largura_da_pagina {
        max-width: 768px;
        padding: 0 8px;
    }

    header div {
        flex-wrap: wrap;
    }

    figure {
        justify-content: center;
        padding-top: 16px;
    }

    .bandeiras {
        height: 70px;
    }

    .titulo {
        font-size: 32px;
        justify-content: center;
        /* background-color: #FF1301; */
    }

    #search-form {
        width: 100%;
    }

    .section-police-unit {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    .section-police-unit input {
        width: 100%;
        height: 48px;
    }

    #botao_carregar {
        width: 100%;
        justify-content: center;
    }

    .secao_resultado {
        width: 100%;
        padding: 42px 0 42px 0;
    }

    .secao_resultado h2 {
        font-size: 28px;
        padding: 8px 0 8px 0;
    }

    .box_iframe {
        padding: 32px 16px;
        height: 350px;
    }

    /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
    .rodape {
        flex-wrap: wrap;
    }

    .boxTextoRodape {
        justify-content: center;
        align-items: center;
    }
    
    .boxLinksSocialMedia {
        justify-content: center;
        align-items: start;
    }

    .buttonsSocialMedia {
        min-width: 64px;
    }
}


/* Para telas com largura entre 320px e 480px */
/* Para telas com largura entre 320px e 480px */
/* Para telas com largura entre 320px e 480px */
/* Para telas com largura entre 320px e 480px */
@media screen and (min-width: 320px) and (max-width: 480px){
    .largura_da_pagina {
        max-width: 480px;
        min-width: 320px;
        padding: 0 8px;
    }

    header div {
        flex-wrap: wrap;
    }

    figure {
        justify-content: center;
    }

    .titulo {
        font-size: 28px;
        text-align: center;
    }

    .bandeiras {
        height: 65px;
    }

    .titulo {
        font-size: 30px;
        justify-content: center;
    }

    .formulario {
        padding: 16px;
        width: 100%;
    }

    .section-police-unit {
        flex-wrap: wrap;
    }

    .section-police-unit input {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-police-unit input::placeholder {
        font-size: 12px;
        width: 100%;
        font-weight: 550;
    }

    .buttons, .botao_copiar {
        width: 100%;
        justify-content: center;
    }

    .secao_resultado {
        width: 100%;
        padding: 20px 0;
    }

    .secao_resultado h2{
        font-size: 28px;
        padding: 0 8px 8px 8px;
    }

    .boxs_resultado {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .boxs_resultado p {
        text-align: center;
    }

    .numero_de_telefone button {
        width: 35%;
    }

    .box_iframe {
        padding: 32px 16px;
        height: 300px;
    }


    /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
    .rodape {
        flex-wrap: wrap;
    }

    .boxTextoRodape {
        justify-content: center;
        align-items: center;
    }
    
    .boxLinksSocialMedia {
        justify-content: center;
        align-items: start;
    }

    .buttonsSocialMedia {
        padding: 12px 18px;
    }
}
